
.trying {
    -fx-alignment: top_left;
    -fx-spacing: 10;
    -fx-padding: 15 0 0 5;
}

.trying Text{
    -fx-font-size: 2.6em;
    -fx-translate-y: 5px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
    -fx-fill: #57606A;
}

.navitem {
    -fx-alignment: center_left;

    -fx-padding: 0 0 0 10;
    -fx-spacing: 20;
    -fx-fill-height: false;
    -fx-pref-height: 60;
}


.navitem:hover {
    -fx-background-color: #DDF4FF;
}

.navitem Text {
    -fx-fill: #24292F;

    -fx-font-size: 2.2em;
    -fx-font-family: Inter;
    -fx-font-weight: 500;
    -fx-translate-y: -3px;
}

.navitem FontAwesomeIconView {
    -fx-fill: #24292F;
    -glyph-size: 30px;
}