

.nav_container VBox {
    -fx-alignment: bottom_center;
    -fx-spacing: 10;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    /*-fx-border-color: #999EA1;*/
    -fx-border-color: #C9D1D9;
    -fx-padding: 0 0 7 0;
}


.nav_container VBox:hover {
    -fx-cursor: hand;
}



.nav_container FontAwesomeIconView {
    -glyph-size: 20px;
    /*-fx-fill: #999EA1;*/
    -fx-fill: #C9D1D9;
}

.nav_container Text {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 1.2em;
    /*-fx-fill: #999EA1;*/
    -fx-fill: #C9D1D9;
    -fx-font-weight: bold;
}

.focus_button {
    -fx-border-color: #1F6FEBFF;
}

.focus_button FontAwesomeIconView {
    -fx-fill: #1F6FEBFF;
}

.focus_button Text {
    -fx-fill: #1F6FEBFF;

}