

.nav_container VBox {
    -fx-alignment: bottom_center;
    -fx-spacing: 10;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    /*-fx-background-color: #0D1117;*/
    /*-fx-border-color: #999EA1;*/
    -fx-border-color: -color-fg-muted;
    -fx-padding: 0 0 7 0;
}


.nav_container VBox:hover {
    -fx-cursor: hand;
}



.nav_container FontAwesomeIconView {
    -glyph-size: 20px;
    /*-fx-fill: #999EA1;*/
    -fx-fill: -color-fg-muted;
}

.nav_container Text {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 1.2em;
    /*-fx-fill: #999EA1;*/
    -fx-fill: -color-fg-muted;
    -fx-font-weight: bold;
}

.focus_button {
    -fx-border-color: -color-accent-emphasis;
}

.focus_button FontAwesomeIconView {
    -fx-fill: -color-accent-emphasis;
}

.focus_button Text {
    -fx-fill: -color-accent-emphasis;

}