.Container{



}
.Text{
  /* -fx-fill: #AAAAAA;*/
    -fx-font-size: 1.35em;
    -fx-font-weight: 700;
    -fx-font-family: "Inter Semi Bold";
    -fx-background-color:  -color-bg-default;
    -fx-border-width: 0 0 1 0;
    /*-fx-effect: dropshadow(two-pass-box,#222222,3,0,0,3);*/
}
.Container ToggleSwitch{
    -fx-effect: dropshadow(three-pass-box,#111111,3,0,0,3);

}
.Container Slider{
    -fx-effect: dropshadow(three-pass-box,#333333,3,0,0,3);

}
.Container Slider:hover{
    -fx-cursor: hand;
}
.Container ToggleSwitch:hover{
    -fx-cursor: hand;
}