


VBox {
    -fx-padding: 20;
    -fx-spacing: 10;
}
Accordion {
    -fx-border-width: 0;
}
.accordion .titled-pane > *.content{
    -fx-background-color: -color-bg-default;
    -fx-border-width: 0;
}

.accordion .titled-pane .title {
    -fx-background-color:  -color-bg-default;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -color-border-default;
    -fx-font-family: Inter Semibold;
    -fx-font-weight: 700;
}
.accordion .titled-pane .list-view {
    -fx-background-color: -color-bg-default;
}
.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}


.accordion .titled-pane .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5 0 5 0;
}

.accordion .titled-pane .list-cell:empty {
-fx-opacity: 0;
}
.accordion .titled-pane .list-cell:selected {
    -fx-background-color: -color-accent-subtle;
}

.accordion .titled-pane ListView .scroll-bar:vertical {
    -fx-scale-x: 0;
}


ListView {
    -fx-border-width: 0px;
}


HBox {
    -fx-border-width: 1px;
    -fx-border-color: -color-border-default;
}

.newTask Button {
    -fx-font-family: Inter;
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.newTask TextField {
    -fx-font-family: Inter;
    -fx-font-size: 1.5em;
}